html,
body {
  font: normal 28px helvetica, arial, sans-serif;
}

article {
  width: 680px;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
  border: 2px solid black;
}

header {
  margin-bottom: 10px;
}

h1, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
}


h2 {
  margin: 5px 0;
  padding: 10px 0;
  font-size: 1rem;
  border-top: 30px solid black;
  border-bottom: 1px solid black;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dl {
  display: inline-block;
}

dt,
dd {
  display: inline;
}

header dl {
  padding-bottom: 5px;
  width: 50%;
  border-bottom: 15px solid black;
}

header dt {
  font-weight: bold;
}

header dl + dl {
  text-align: right;
}

header dl + dl dt {
  font-weight: normal;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}


thead th {
  text-align: right;
}

th {
  font-weight: bold;
}

th dd {
  font-weight: normal;
}

sup {
  vertical-align: 3px;
}

tbody th {
  border-top: 1px solid black;
  text-align: left;
}

tbody td {
  padding: 2px 0;
  border-top: 1px solid black;
}

td.indent {
  width: 1rem;
  border-top: none;
}

tbody td:last-of-type {
  text-align: right;
  font-weight: bold;
}

tbody tr:last-of-type {
  border-bottom: 20px solid black;
}

tbody + tbody tr:first-of-type td {
    border-top: 20px solid #000000;
}

td[colspan="2"] + td {
  font-weight: normal;
}

tfoot tr td {
  padding: .5rem 0 .5rem .7rem;
  font-size: .9rem;
  font-weight: normal;
  text-align: left;
  text-indent: -.7rem;
  border-top: 1px solid #000000;
}

article table:last-of-type {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

article table:last-of-type td {
  border: none;
}

table + table thead th {
  width: 37%;
  font-weight: normal;
  border-bottom: 1px solid black;
  text-align: left;
}

table + table thead th + th {
  width: 21%;
}

table + table tr td:last-of-type {
  font-weight: normal;
  text-align: left;
}

table + table {
  font-size: .8rem;
}

table + table td.indent {
  text-indent: 1.2rem;
}

table + table tbody tr:last-of-type {
  border: none;
}

table tbody:last-of-type tr:last-of-type {
  border: none;
}

